html {
  --easing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --easing-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
  font-family: system-ui, 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-text);
  --h-diff: -1;
  --color-bg: #fdfdfd;
  --color-text: #111;
}
@media (prefers-color-scheme: dark) {
  html {
    --color-bg: #111;
    --color-text: #eee;
  }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  --takeoff-height: 120%;
  background-color: var(--color-bg);
}
main {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 14fr 72fr 14fr;
  /*grid-template-rows: calc(0.425 * var(--width)) 5rem;*/
  --width: 64vw;
}
.la-switch {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  transform: translateZ(0);
}
.nintendo-switch {
  --width: inherit;
  justify-self: center;
}
.indice {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: calc(1 + var(--h-diff));
  transition: opacity .2s var(--easing-decelerate);
}
.gauche .texte,
.droite .texte,
.gauche .le-bouton.droite,
.droite .le-bouton.gauche,
.le-bouton.off {
  transform: translateZ(0) scale(0);
  transition: none;
}
.gauche .ligne,
.droite .ligne,
.ligne.off {
  transform: translateZ(0) scaleX(0);
  transition: none;
}
/*.gauche .texte, .droite .texte {
  opacity: 0;
  transition: none;
}*/
.ligne {
  width: 100%;
  height: 2px;
  background-color: var(--color-text);
  opacity: .3;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transition: transform .2s var(--easing-standard);
}
.texte {
  padding: 0 2rem;
  background: var(--color-bg);
  position: relative;
  z-index: 2;
  font-weight: 500;
  transition: none;
}
.le-bouton {
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s var(--easing-standard);
}
.le-bouton.gauche {
  grid-column: 1 / 2;
}
.le-bouton.droite {
  grid-column: 3 / 4;
}
button {
  display: block;
  background: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  font-family: inherit;
}
.le-bouton>button {
  height: 2rem;
  width: 2rem;
  /*border: 2px solid rgba(0, 0, 0, .5);*/
  border-radius: 50%;
  position: relative;
}
.le-bouton>button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-text);
  border-radius: 50%;
  opacity: .5;
  box-sizing: border-box;
}
.le-bouton>button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
  width: .5rem;
  height: .5rem;
  background-color: var(--color-text);
  border-radius: 50%;
  transition: transform .2s var(--easing-standard), opacity .2s var(--easing-standard);
}
.le-bouton>button:hover::after {
  transform: translate3D(-50%, -50%, 0) scale(1.8);
  opacity: .8;
}
.le-bouton>button:active::after {
  transform: translate3D(-50%, -50%, 0) scale(1.4);
  opacity: .9;
}
.le-bouton>button:focus:not(:hover)::before {
  /*border-color: #00BFDF;
  box-shadow: 0 0 0 2px #00BFDF;*/
  border: 4px solid #00BFDF;
  opacity: 1;
}
.choix {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  max-width: 100%;
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 5rem);
  grid-auto-rows: 5rem;
  position: relative;
}
.choix::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: var(--color-bg);
  opacity: .95;
}
.choix:not(.gauche):not(.droite) {
  display: none;
}
.couleur {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
@keyframes grow {
  0% { transform: translateZ(0) scale(0) }
  100% { transform: translateZ(0) scale(1) }
}
.couleur .hex {
  animation: grow .1s var(--easing-decelerate) calc(var(--n) * 0.02s);
  animation-fill-mode: backwards;
}
.couleur:hover .hex, .couleur:focus:not(:hover) .hex {
  transform: scale(2.2);
}
.couleur:focus:not(:hover)::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
  border: 2px solid #00BFDF;
  box-shadow: inset 0 0 0 1px white;
}
.hex {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: var(--couleur);
  position: relative;
  z-index: 1;
  transform: translateZ(0);
  transition: transform .2s var(--easing-standard);
}
.nom {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: .83rem;
  padding-top: .2rem;
  white-space: nowrap;
  color: var(--color-text);
  text-shadow: 0 0 2px var(--color-bg),
               0 0 4px var(--color-bg),
               0 0 10px var(--color-bg);
}
.choix.gauche>.droite, .choix.droite>.gauche {
  display: none;
}
.home {
  cursor: pointer;
}
.nintendo-switch:not(.on) .screen {
  cursor: pointer;
}

.jeu {
  background-color: #2C2C2C;
  position: relative;
}

label[for=homeButton] {
  font-size: 0;
  --size: calc(0.242 * 0.139 * var(--width));
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: calc(67.4% + 0.5 * var(--size));
  left: calc(16.7% + 0.5 * var(--size));
  transform: translate(-50%, -50%);
}

.groupe-langages {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: calc(1 + var(--h-diff));
  transition: opacity .2s var(--easing-decelerate);
  z-index: 0;
  display: none;
}
.groupe-langages.options {
  top: 0;
  bottom: unset;
}
.bouton-langage {
  border: none;
  color: black;
  font-family: inherit;
  font-size: .833rem;
  width: fit-content;
  cursor: pointer;
  padding: .4rem 1rem;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
.bouton-langage:disabled {
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  cursor: auto;
  opacity: .8;
}
.bouton-langage:focus:not(:hover) {
  box-shadow: 0 0 0 .2em #1F99CD;
}

* {
  /* Empêche le bleu moche quand on clique sur un truc sous chrome Android */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:active, 
*:focus {
  outline-style: none;
}
::-moz-focus-inner {
  border: 0;
}

@media screen and (max-width: 1100px)
{
  .home label {
    display: block;
  }
  main {
    grid-template-rows: calc(0.425 * var(--width)) 4rem;
  }
  /*.choix {
    transform: translateY(-2rem);
  }*/
}
@media screen and (max-width: 800px)
{
  main {
    --width: 90vw;
  }
  .texte {
    font-size: .9rem;
    padding: 0 .5rem;
  }
  .choix {
    width: 15rem;
    align-self: end;
    /*transform: translate3D(0, -6rem, 0);*/
  }
  .menu-bg {
    font-size: 1.1vw;
  }
}
@media screen and (max-height: 360px)
{
  .groupe-langages {
    top: unset;
    bottom: 0;
    z-index: -1;
  }
}